{% extends 'index.html' %}

{% load static %}

<head>
    <style>
      .header-shadow{
     background: -webkit-linear-gradient( #a2b9bc 0%, #9e4fff 100%);
    }
 
    .card {
       box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
       transition: 0.3s;
       width: fit-content;
       height: fit-content;
       /* align-content: center; */
     }
     
     .card:hover {
       box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
     }
     
     .container {
       margin: 10px;
       padding: 10px;
     }
 
 </style>
 
 </head>

{% block active_blog %}
    <ul class="nav navbar-nav ml-auto">
     <li class="nav-item "><a class="nav-link" style="color:floralwhite;" href="{% url 'home' %}">Home</a></li>
     <li class="nav-item"><a class="nav-link" style="color:floralwhite;" href="{% url 'show_notice' %}">Notice</a></li>
     {#                            {% endif %}#}
     {% if user.is_authenticated %}
     <li class="nav-item"><a class="nav-link" style="color:floralwhite;" href="{% url 'online_advice' %}">Online Advice </a></li>
     {% endif %}
     <li class="nav-item"><a class="nav-link" style="color:floralwhite;" href="https://www.du.ac.bd/">Dhaka University</a></li>
     <!-- <li class="nav-item "><a class="nav-link" style="color:floralwhite;" href="{% url 'aboutPage' %}">About</a></li> -->
     {% if user.username == "ludwigprandtl" %}
                            
     <li class="nav-item"><a class="nav-link" style="color:floralwhite;" href="{% url 'post_notice' %}">Post Notice</a></li>
     
     {% else %}
     <li class="nav-item active"><a class="nav-link"  href="{% url 'contact' %}">Contact</a></li>
  </ul>
  {% endif %}
{% endblock %}

{% block only_header %}
<!-- <body> -->
<section style="background-color: #DADED4; padding:25px 30px 25px 30px;">
<br>
<h1 style="background: #fe921f; color: #ffffff; display: inline-block; font-family: 'Lato', sans-serif; font-size: 12px; font-weight: bold; line-height: 12px; letter-spacing: 1px; margin: 10 0 30px; padding: 10px 15px 8px; text-transform: uppercase; float: center;"> Doctor Contacts </h1>


<!-- <div class="container">

  <div class="row">

    

    
  </div>

</div> -->

<br>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
        <div class="container" data-aos="fade-right">
        <div class="card">
            <img src="{% static 'img/contacts/male_avatar.png' %}" alt="Avatar" style="width:80%; padding: 10px 10px 10px 10px;">
            <div class="container">
                <p></p>
            <p>
                <b>Dr.A K M Abdur Rahman</b> <br>
                <i class="fa fa-institution"></i>&nbsp;Cheif Medical Officer <br>
                <i class="fa fa-phone"></i>&nbsp; +8801199065631
            </p>
            </div>
            </div>
          </div> 
    </div>


    <div class="col-sm-4">
        <div class="container" data-aos="fade-up">
        <div class="card">
            <img src="{% static 'img/contacts/male_avatar.png' %}" alt="Avatar" style="width:80%; padding: 10px 10px 10px 10px;">
            <div class="container">
              <p></p>
              
            <p>
                <b>Dr.Sarwar Jahan Muttafi</b> <br>
                <i class="fa fa-institution"></i>&nbsp;Additional Chief Medical Officer <br>
                <i class="fa fa-phone"></i>&nbsp; +8801553300600  
            </p>
            </div>
            </div>
          </div> 
    </div>

    <div class="col-sm-4">
        <div class="container" data-aos="fade-left">
        <div class="card">
            <img src="{% static 'img/contacts/male_avatar.png' %}" alt="Avatar" style="width:80%; padding: 10px 10px 10px 10px;">
            <div class="container">
                <p></p>
              
            <p>
                <b>Dr.Muhammad Said Ullah (L.P.R)</b> <br>
                <i class="fa fa-institution"></i>&nbsp;Additional Chief Medical Officer <br>
                <i class="fa fa-phone"></i>&nbsp; +8801911341513
            </p>
            </div>
            </div>
          </div> 
    </div>
  </div>
</div>


<br>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
        <div class="container" data-aos="fade-right">
        <div class="card">
            <img src="{% static 'img/contacts/male_avatar.png' %}" alt="Avatar" style="width:80%; padding: 10px 10px 10px 10px;">
            <div class="container">
                <p></p>
            <p>
                <b>Dr.Borhan Uddin Molik</b> <br>
                <i class="fa fa-institution"></i>&nbsp;Senior Medical Officer <br>
                <i class="fa fa-phone"></i>&nbsp; +8801198115440 
            </p>
            </div>
            </div>
          </div> 
    </div>


    <div class="col-sm-4">
        <div class="container" data-aos="fade-up">
        <div class="card">
            <img src="{% static 'img/contacts/female_avatar.png' %}" alt="Avatar" style="width:80%; padding: 10px 10px 10px 10px;">
            <div class="container">
              <p></p>
              
            <p>
                <b>Dr.Hafeza Jaman</b> <br>
                <i class="fa fa-institution"></i>&nbsp;Senior Medical Officer <br>
                <i class="fa fa-phone"></i>&nbsp; +8801715106840 
            </p>
            </div>
            </div>
          </div> 
    </div>

    <div class="col-sm-4">
        <div class="container" data-aos="fade-left">
        <div class="card">
            <img src="{% static 'img/contacts/male_avatar.png' %}" alt="Avatar" style="width:80%; padding: 10px 10px 10px 10px;">
            <div class="container">
                <p></p>
              
            <p>
                <b>Dr.Md.Jalal Uddin Ahmed</b> <br>
                <i class="fa fa-institution"></i>&nbsp;Senior Medical Officer <br>
                <i class="fa fa-phone"></i>&nbsp; +8801715106840 
            </p>
            </div>
            </div>
          </div> 
    </div>
  </div>
</div>

<br>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
        <div class="container" data-aos="fade-right">
        <div class="card">
            <img src="{% static 'img/contacts/male_avatar.png' %}" alt="Avatar" style="width:80%; padding: 10px 10px 10px 10px;">
            <div class="container">
                <p></p>
            <p>
                <b>Dr.Md Nurul Islam</b> <br>
                <i class="fa fa-institution"></i>&nbsp;Senior Medical Officer <br>
                <i class="fa fa-phone"></i>&nbsp; +8801731914007 
            </p>
            </div>
            </div>
          </div> 
    </div>


    <div class="col-sm-4">
        <div class="container" data-aos="fade-up">
        <div class="card">
            <img src="{% static 'img/contacts/female_avatar.png' %}" alt="Avatar" style="width:80%; padding: 10px 10px 10px 10px;">
            <div class="container">
              <p></p>
              
            <p>
                <b>Dr.Razia Rahma</b> <br>
                <i class="fa fa-institution"></i>&nbsp;Senior Medical Officer <br>
                <i class="fa fa-phone"></i>&nbsp; +8801817516559  
            </p>
            </div>
            </div>
          </div> 
    </div>

    <div class="col-sm-4">
        <div class="container" data-aos="fade-left">
        <div class="card">
            <img src="{% static 'img/contacts/male_avatar.png' %}" alt="Avatar" style="width:80%; padding: 10px 10px 10px 10px;">
            <div class="container">
                <p></p>
              
            <p>
                <b>Dr.Nur-Muhammad</b> <br>
                <i class="fa fa-institution"></i>&nbsp;Senior Medical Officer <br>
                <i class="fa fa-phone"></i>&nbsp; +8801710562467 
            </p>
            </div>
            </div>
          </div> 
    </div>
  </div>
</div>

<br>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
        <div class="container" data-aos="fade-right">
        <div class="card">
            <img src="{% static 'img/contacts/male_avatar.png' %}" alt="Avatar" style="width:80%; padding: 10px 10px 10px 10px;">
            <div class="container">
                <p></p>
            <p>
                <b>Dr.Tanvir Ali</b> <br>
                <i class="fa fa-institution"></i>&nbsp;Senior Medical Officer <br>
                <i class="fa fa-phone"></i>&nbsp; +8801772133301
            </p>
            </div>
            </div>
          </div> 
    </div>


    <div class="col-sm-4">
        <div class="container" data-aos="fade-up">
        <div class="card">
            <img src="{% static 'img/contacts/male_avatar.png' %}" alt="Avatar" style="width:80%; padding: 10px 10px 10px 10px;">
            <div class="container">
              <p></p>
              
            <p>
                <b>Dr.Md. Salah Uddin</b> <br>
                <i class="fa fa-institution"></i>&nbsp;Senior Medical Officer <br>
                <i class="fa fa-phone"></i>&nbsp; +8801721935937  
            </p>
            </div>
            </div>
          </div> 
    </div>

    <div class="col-sm-4">
        <div class="container" data-aos="fade-left">
        <div class="card">
            <img src="{% static 'img/contacts/male_avatar.png' %}" alt="Avatar" style="width:80%; padding: 10px 10px 10px 10px;">
            <div class="container">
                <p></p>
              
            <p>
                <b>Dr. A M Sazzad Hossain</b> <br>
                <i class="fa fa-institution"></i>&nbsp;Senior Medical Officer <br>
                <i class="fa fa-phone"></i>&nbsp; +8801552470474
            </p>
            </div>
            </div>
          </div> 
    </div>
  </div>
</div>


<br>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
        <div class="container" data-aos="fade-right">
        <div class="card">
            <img src="{% static 'img/contacts/male_avatar.png' %}" alt="Avatar" style="width:80%; padding: 10px 10px 10px 10px;">
            <div class="container">
                <p></p>
            <p>
                <b>Dr. Md Sharif Kamruddin</b> <br>
                <i class="fa fa-institution"></i>&nbsp;Senior Medical Officer <br>
                <i class="fa fa-phone"></i>&nbsp; +8801712598031
            </p>
            </div>
            </div>
          </div> 
    </div>


    <div class="col-sm-4">
        <div class="container" data-aos="fade-up">
        <div class="card">
            <img src="{% static 'img/contacts/male_avatar.png' %}" alt="Avatar" style="width:80%; padding: 10px 10px 10px 10px;">
            <div class="container">
              <p></p>
              
            <p>
                <b>Dr. Arif Reza Sikder</b> <br>
                <i class="fa fa-institution"></i>&nbsp;Senior Medical Officer <br>
                <i class="fa fa-phone"></i>&nbsp; +8801715008055  
            </p>
            </div>
            </div>
          </div> 
    </div>

    <div class="col-sm-4">
        <div class="container" data-aos="fade-left">
        <div class="card">
            <img src="{% static 'img/contacts/female_avatar.png' %}" alt="Avatar" style="width:80%; padding: 10px 10px 10px 10px;">
            <div class="container">
                <p></p>
              
            <p>
                <b>Dr. Ferdousi Purobi Chowdhury</b> <br>
                <i class="fa fa-institution"></i>&nbsp;Senior Medical Officer <br>
                <i class="fa fa-phone"></i>&nbsp; +8801712160744
            </p>
            </div>
            </div>
          </div> 
    </div>
  </div>
</div>


<br>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
        <div class="container" data-aos="fade-right">
        <div class="card">
            <img src="{% static 'img/contacts/female_avatar.png' %}" alt="Avatar" style="width:80%; padding: 10px 10px 10px 10px;">
            <div class="container">
                <p></p>
            <p>
                <b>Dr. Nargis Fatema (patholoy)</b> <br>
                <i class="fa fa-institution"></i>&nbsp;Medical Officer <br>
                <i class="fa fa-phone"></i>&nbsp; +8801713045169
            </p>
            </div>
            </div>
          </div> 
    </div>


    <div class="col-sm-4">
        <div class="container" data-aos="fade-up">
        <div class="card">
            <img src="{% static 'img/contacts/male_avatar.png' %}" alt="Avatar" style="width:80%; padding: 10px 10px 10px 10px;">
            <div class="container">
              <p></p>
              
            <p>
                <b>Dr. Rathindranath Sarkar</b> <br>
                <i class="fa fa-institution"></i>&nbsp;Medical Officer <br>
                <i class="fa fa-phone"></i>&nbsp; +8801716216189  
            </p>
            </div>
            </div>
          </div> 
    </div>

    <div class="col-sm-4">
        <div class="container" data-aos="fade-left">
        <div class="card">
            <img src="{% static 'img/contacts/female_avatar.png' %}" alt="Avatar" style="width:80%; padding: 10px 10px 10px 10px;">
            <div class="container">
                <p></p>
              
            <p>
                <b>Dr. Shamima Parvin</b> <br>
                <i class="fa fa-institution"></i>&nbsp;Medical Officer <br>
                <i class="fa fa-phone"></i>&nbsp; +8801818373258
            </p>
            </div>
            </div>
          </div> 
    </div>
  </div>
</div>


<br>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
        <div class="container" data-aos="fade-right">
        <div class="card">
            <img src="{% static 'img/contacts/male_avatar.png' %}" alt="Avatar" style="width:80%; padding: 10px 10px 10px 10px;">
            <div class="container">
                <p></p>
            <p>
                <b>Dr. Syed Al Amin</b> <br>
                <i class="fa fa-institution"></i>&nbsp;Medical Officer <br>
                <i class="fa fa-phone"></i>&nbsp; +8801911364013
            </p>
            </div>
            </div>
          </div> 
    </div>


    <div class="col-sm-4">
        <div class="container" data-aos="fade-up">
        <div class="card">
            <img src="{% static 'img/contacts/female_avatar.png' %}" alt="Avatar" style="width:80%; padding: 10px 10px 10px 10px;">
            <div class="container">
              <p></p>
              
            <p>
                <b>Dr. Mahbuba Akhter</b> <br>
                <i class="fa fa-institution"></i>&nbsp;Medical Officer <br>
                <i class="fa fa-phone"></i>&nbsp; +8801552433552  
            </p>
            </div>
            </div>
          </div> 
    </div>

    <div class="col-sm-4">
        <div class="container" data-aos="fade-left">
        <div class="card">
            <img src="{% static 'img/contacts/male_avatar.png' %}" alt="Avatar" style="width:80%; padding: 10px 10px 10px 10px;">
            <div class="container">
                <p></p>
              
            <p>
                <b>Dr. Shariful Islam</b> <br>
                <i class="fa fa-institution"></i>&nbsp;Medical Officer <br>
                <i class="fa fa-phone"></i>&nbsp; +8801717786726
            </p>
            </div>
            </div>
          </div> 
    </div>
  </div>
</div>



<br>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
        <div class="container" data-aos="fade-right">
        <div class="card">
            <img src="{% static 'img/contacts/male_avatar.png' %}" alt="Avatar" style="width:80%; padding: 10px 10px 10px 10px;">
            <div class="container">
                <p></p>
            <p>
                <b>Dr. Sumonto kundo</b> <br>
                <i class="fa fa-institution"></i>&nbsp;Assistant Medical Officer <br>
                <i class="fa fa-phone"></i>&nbsp; +88001720957759
            </p>
            </div>
            </div>
          </div> 
    </div>


    <div class="col-sm-4">
        
    </div>

    <div class="col-sm-4">
    </div>
  </div>
</div>



</section>
<!-- </body>
</html> -->
{% endblock %}