{% extends 'index.html' %}

{% load static %}

<head>
    <style>
      .header-shadow{
     background: -webkit-linear-gradient( #a2b9bc 0%, #9e4fff 100%);
    }
 
    .card {
       box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
       transition: 0.3s;
       width: fit-content;
       height: fit-content;
       /* align-content: center; */
     }
     
     .card:hover {
       box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
     }
     
     .container {
       margin: 10px;
       padding: 10px;
     }
 
 </style>
 
 </head>

{% block active_blog %}
    <ul class="nav navbar-nav menu_nav ml-auto header-top-right">
        <li class="nav-item "><a class="nav-link" href="{% url 'home' %}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'show_notice' %}">Notice</a></li>
{#                            {% endif %}#}
        {% if user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{% url 'online_advice' %}">Online Advice </a></li>
        {% endif %}
        <li class="nav-item"><a class="nav-link" href="https://www.du.ac.bd/">Dhaka University</a></li>
        <li class="nav-item "><a class="nav-link" href="{% url 'aboutPage' %}">About</a></li>
{#                            {% if user.username == "ludwigprandtl" %}#}
{#							<li class="nav-item"><a class="nav-link" href="{% url 'post_notice' %}">Post Notice</a></li>#}
{#                            {% else %}#}
        <li class="nav-item active"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>

    </ul>
{% endblock %}

{% block only_header %}
<!-- <body> -->

<div class="container">
<div class="row">
    <div class="column">
        <div class="container">
        <div class="card">
            <img src="{% static 'img/contacts/male_avatar.png' %}" alt="Avatar" style="width:33%">
            <div class="container">
              <h4><b>Dr.A K M Abdur Rahman</b></h4>
              <p>Cheif Medical Officer</p>
              <h6> 01199065631 </h6>
            </div>
            </div>
          </div> 
    </div>
    
    <div class="column">
        <div class="container">
        <div class="card">
            <img src="{% static 'img/contacts/male_avatar.png' %}" alt="Avatar" style="width:33%">
            <div class="container">
            <h4><b>Dr.Sarwar Jahan Muttafi</b></h4>
              <p>Additional Chief Medical Officer</p>
              <h6> 01553300600 </h6>
            </div>
            </div>
          </div> 
    </div>

  </div>
</div>

<div class="container">

  <div class="row">

    <div class="column">
        <div class="container">
        <div class="card">
            <img src="{% static 'img/contacts/male_avatar.png' %}" alt="Avatar" style="width:33%">
            <div class="container">
              <h4><b>Dr.Muhammad Said Ullah (L.P.R)</b></h4>
              <p>Additional Chief Medical Officer</p>
              <h6> 01911341513 </h6>
            </div>
            </div>
          </div> 
    </div>

    <div class="column">
        <div class="container">
        <div class="card">
            <img src="{% static 'img/contacts/male_avatar.png' %}" alt="Avatar" style="width:33%">
            <div class="container">
              <h4><b>Dr.Borhan Uddin Molik</b></h4>
              <p>Senior Medical Officer</p>
              <h6> 01198115440 </h6>
            </div>
            </div>
          </div> 
    </div>
  </div>

</div>

<div class="container">

  <div class="row">
    <div class="column">
        <div class="container">
        <div class="card">
            <img src="{% static 'img/contacts/female_avatar.png' %}" alt="Avatar" style="width:33%">
            <div class="container">
              <h4><b>Dr.Hafeza Jaman</b></h4>
              <p>Senior Medical Officer</p>
              <h6> 01715106840 </h6>
            </div>
            </div>
          </div> 
    </div>

    <div class="column">
        <div class="container">
        <div class="card">
            <img src="{% static 'img/contacts/male_avatar.png' %}" alt="Avatar" style="width:33%">
            <div class="container">
              <h4><b>Dr.Md.Jalal Uddin Ahmed</b></h4>
              <p>Senior Medical Officer</p>
              <h6> 0155238702 </h6>
            </div>
            </div>
          </div> 
    </div>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="column">
        <div class="container">
        <div class="card">
            <img src="{% static 'img/contacts/male_avatar.png' %}" alt="Avatar" style="width:33%">
            <div class="container">
              <h4><b>Dr.Md Nurul Islam</b></h4>
              <p>Senior Medical Officer</p>
              <h6> 01731914007 </h6>
            </div>
            </div>
          </div> 
    </div>

    <div class="column">
        <div class="container">
        <div class="card">
            <img src="{% static 'img/contacts/male_avatar.png' %}" alt="Avatar" style="width:33%">
            <div class="container">
              <h4><b>Dr.Razia Rahman</b></h4>
              <p>Senior Medical Officer</p>
              <h6> 01817516559 </h6>
            </div>
            </div>
          </div> 
    </div>
  </div>

</div>

<div class="container">

  <div class="row">
    <div class="column">
        <div class="container">
        <div class="card">
            <img src="{% static 'img/contacts/male_avatar.png' %}" alt="Avatar" style="width:33%">
            <div class="container">
              <h4><b>Dr.Nur-Muhammad</b></h4>
              <p>Senior Medical Officer</p>
              <h6>01710562467 </h6>
            </div>
            </div>
          </div> 
    </div>

    <div class="column">
        <div class="container">
        <div class="card">
            <img src="{% static 'img/contacts/male_avatar.png' %}" alt="Avatar" style="width:33%">
            <div class="container">
              <h4><b>Dr.Tanvir Ali</b></h4>
              <p>Senior Medical Officer</p>
              <h6> 01772133301 </h6>
            </div>
            </div>
          </div> 
    </div>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="column">
        <div class="container">
        <div class="card">
            <img src="{% static 'img/contacts/male_avatar.png' %}" alt="Avatar" style="width:33%">
            <div class="container">
              <h4><b>Dr.Md. Salah Uddin</b></h4>
              <p>Senior Medical Officer</p>
              <h6>01721935937 </h6>
            </div>
            </div>
          </div> 
    </div>

    <div class="column">
        <div class="container">
        <div class="card">
            <img src="{% static 'img/contacts/male_avatar.png' %}" alt="Avatar" style="width:33%">
            <div class="container">
              <h4><b>Dr. A M Sazzad Hossain</b></h4>
              <p>Senior Medical Officer</p>
              <h6> 01552470474 </h6>
            </div>
            </div>
          </div> 
    </div>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="column">
        <div class="container">
        <div class="card">
            <img src="{% static 'img/contacts/male_avatar.png' %}" alt="Avatar" style="width:33%">
            <div class="container">
              <h4><b>Dr. Md Sharif Kamruddin</b></h4>
              <p>Senior Medical Officer</p>
              <h6>01712598031 </h6>
            </div>
            </div>
          </div> 
    </div>

    <div class="column">
        <div class="container">
        <div class="card">
            <img src="{% static 'img/contacts/male_avatar.png' %}" alt="Avatar" style="width:33%">
            <div class="container">
              <h4><b>Dr. Arif Reza Sikder</b></h4>
              <p>Senior Medical Officer</p>
              <h6> 01715008055 </h6>
            </div>
            </div>
          </div> 
    </div>
  </div>

  </div>


<div class="container">
  <div class="row">
    <div class="column">
        <div class="container">
        <div class="card">
            <img src="{% static 'img/contacts/female_avatar.png' %}" alt="Avatar" style="width:33%">
            <div class="container">
              <h4><b>Dr. Ferdousi Purobi Chowdhury</b></h4>
              <p>Senior Medical Officer</p>
              <h6>01712160744 </h6>
            </div>
            </div>
          </div> 
    </div>

    <div class="column">
        <div class="container">
        <div class="card">
            <img src="{% static 'img/contacts/male_avatar.png' %}" alt="Avatar" style="width:33%">
            <div class="container">
              <h4><b>Dr. Jamil Shahedi</b></h4>
              <p> Medical Officer</p>
              <h6> 01712749278 </h6>
            </div>
            </div>
          </div> 
    </div>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="column">
        <div class="container">
        <div class="card">
            <img src="{% static 'img/contacts/female_avatar.png' %}" alt="Avatar" style="width:33%">
            <div class="container">
              <h4><b>Dr. Nargis Fatema (patholoy)</b></h4>
              <p>Medical Officer</p>
              <h6>01713045169 </h6>
            </div>
            </div>
          </div> 
    </div>

    <div class="column">
        <div class="container">
        <div class="card">
            <img src="{% static 'img/contacts/male_avatar.png' %}" alt="Avatar" style="width:33%">
            <div class="container">
              <h4><b>Dr. Rathindranath Sarkar</b></h4>
              <p> Medical Officer</p>
              <h6> 01716216189 </h6>
            </div>
            </div>
          </div> 
    </div>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="column">
        <div class="container">
        <div class="card">
            <img src="{% static 'img/contacts/male_avatar.png' %}" alt="Avatar" style="width:33%">
            <div class="container">
              <h4><b>Dr. Syed Al Amin</b></h4>
              <p>Medical Officer</p>
              <h6>01911364013 </h6>
            </div>
            </div>
          </div> 
    </div>

    <div class="column">
        <div class="container">
        <div class="card">
            <img src="{% static 'img/contacts/female_avatar.png' %}" alt="Avatar" style="width:33%">
            <div class="container">
              <h4><b>Dr. Shamima Parvin</b></h4>
              <p> Medical Officer</p>
              <h6> 01818373258 </h6>
            </div>
            </div>
          </div> 
    </div>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="column">
        <div class="container">
        <div class="card">
            <img src="{% static 'img/contacts/female_avatar.png' %}" alt="Avatar" style="width:33%">
            <div class="container">
              <h4><b>Dr. Mahbuba Akhter</b></h4>
              <p>Medical Officer</p>
              <h6>01552433552 </h6>
            </div>
            </div>
          </div> 
    </div>

    <div class="column">
        <div class="container">
        <div class="card">
            <img src="{% static 'img/contacts/male_avatar.png' %}" alt="Avatar" style="width:33%">
            <div class="container">
              <h4><b>Dr. Shariful Islam</b></h4>
              <p> Medical Officer</p>
              <h6> 01717786726 </h6>
            </div>
            </div>
          </div> 
    </div>
  </div>

  </div>

  <div class="container">
  <div class="row">
    <div class="column">
        <div class="container">
        <div class="card">
            <img src="{% static 'img/contacts/male_avatar.png' %}" alt="Avatar" style="width:33%">
            <div class="container">
              <h4><b>Dr. Sumonto kundo</b></h4>
              <p>Assistant Medical Officer</p>
              <h6>01720957759 </h6>
            </div>
            </div>
          </div> 
    </div>
  </div>
  
</div>
</div>

<!-- </body>
</html> -->
{% endblock %}